- unless logged_in?
  %br
  %br
  = fb_login_button
  \-- Press here to start using HereStay!
#listings
  %h2{:style=>"font-size:16pt;"} Featured Properties
  %br
  -if current_user
    = fb_button 'My Account', account_path, :class_name => 'f_right'
    = fb_button (current_user.rental_units.count > 0 ? 'Manage My Properties' : 'List my Property'), manage_rental_units_path, :class_name => 'f_right'
  %br
  %br
  %br
  =will_paginate(@paginate_obj,:renderer=>"FacebookLinkRenderer")
  =render(:partial=>"rental_units/unit_row",:collection=>@rental_units,:locals=>{:admin=>false})
%br
%br
-if current_user 
  = fb_button 'My Account', account_path, :class_name => 'f_right'
  = fb_button (current_user.rental_units.count > 0 ? 'Manage My Properties' : 'List my Property'), manage_rental_units_path, :class_name => 'f_right'