#search_box
  =form_tag("/") do
    #simple_search{:style=>"height:30px;width:410px;"}
      #search_icon{:style=>"float:left;width:25px;margin:5px;"}
        =image_submit_tag("search_icon.jpg")
      #search_text{:style=>"width:175px;height:30px;float:left;margin:5px 5px 0 5px;"}
        =text_field_tag :search
      %label#search_button.fbButton.f_left{:style=>"width:70px;"}
        =submit_tag "Search"
      .f_right{:style=>"width:70px; padding-top:10px;"}= link_to 'Advanced', '', :class => "show-advanced-search-logic #{params[:advanced] == '1' && 'on'}"
    = render :partial=> "shared/advanced_search"
-if @user.nil?
  %br
  %br
  = fb_login_button
  \-- Press here to start using HereStay!
#listings
  %h2{:style=>"font-size:16pt;"} Featured Listings
  %br
  -if @user
    = fb_button 'My Account', account_path, :class_name => 'f_right'
    = fb_button (@user.rental_units.count > 0 ? 'Manage My Listings' : 'List my Property'), manage_rental_units_path, :class_name => 'f_right'
  %br
  %br
  %br
  =will_paginate(@paginate_obj,:renderer=>"FacebookLinkRenderer")
  =render(:partial=>"rental_units/unit_row",:collection=>@rental_units,:locals=>{:admin=>false})
%br
%br
-if @user 
  = fb_button 'My Account', account_path, :class_name => 'f_right'
  = fb_button (@user.rental_units.count > 0 ? 'Manage My Listings' : 'List my Property'), manage_rental_units_path, :class_name => 'f_right'