-if @user.nil?
  %fb:login-button
-if @user
  %label.fbButton.f_right.logged_in
    %a{:href=>"/#{fb_app_name}/manage_my_rental_units"}
      %input{:type=>"button",:value=>"Manage My Listings"}
-else
  %label.fbButton.f_right.not_logged_in
    %a{:href=>"/#{fb_app_name}/manage_my_rental_units"}
      %input{:type=>"button",:value=>"List My Property on HereStay!"}
#listings
  %h2{:style=>"font-size:16pt;"} Featured Listings
  %br
  #search_box{:style=>"height:30px;width:320px;"}
    =form_tag("/#{fb_app_name}/search") do
      #search_icon{:style=>"float:left;width:25px;"}
        =image_tag "search_icon.jpg"
      #search_text{:style=>"width:175px;height:30px;float:left;"}
        =text_field_tag :search
      %label#search_button.fbButton.f_right{:style=>"width:70px;"}
        =submit_tag "Search"
  %br
  =will_paginate(@paginate_obj,:renderer=>"FacebookLinkRenderer")
  =render(:partial=>"my_rental_units/unit_row",:collection=>@rental_units,:locals=>{:admin=>false})
%br
%br
-if @user
  %label.fbButton.f_right.logged_in
    %a{:href=>"/#{fb_app_name}/manage_my_rental_units"}
      %input{:type=>"button",:value=>"Manage My Listings"}
-else
  %label.fbButton.f_right.not_logged_in
    %a{:href=>"/#{fb_app_name}/manage_my_rental_units",:onclick=>}
      %input{:type=>"button",:value=>"List My Property on HereStay!"}