%h1 Auction
%h2 Edit Lot #{resource.title}

= semantic_form_for resource, :url => resource_path do |f|
  = render 'fields', :f => f
  = f.buttons do
    = fb_button do
      = f.submit 'Save'
    = fb_button 'Cancel', resource_path

= javascript_include_tag 'jquery-ui-timepicker-addon'
:javascript
  $(function(){
   $('.datetimepicker').datetimepicker();
  });