%h1= link_to 'Auctions', auction_root_path
.property
  %h2 Edit auction: #{resource.title}

  = semantic_form_for resource, :url => resource_path do |f|
    = f.semantic_errors
    = render 'fields', :f => f
    = f.buttons do
      = fb_button do
        = f.submit 'Save'
      = fb_button 'Cancel', resource_path

= javascript_include_tag 'jquery-ui-timepicker-addon'
:javascript
  $(function(){
   $('.datetimepicker').datetimepicker();
  });