= render 'submenu'

.links
  = link_to 'New Auction', new_resource_path
  = link_to 'History', collection_path(:expired => true)
  = link_to 'Upcoming', collection_path(:upcoming => true)
  
= render 'auctions'