= render 'submenu'

.links
  = link_to 'New Auction', new_resource_path
  = link_to 'History', collection_path(:expired => true)
  = link_to 'Upcoming', collection_path(:upcoming => true)
  
.auctions
  = will_paginate collection  
  %table
    %tr.head
      %th Auction Ends
      %th Check In
      %th Days
      %th Reserve
      %th Highest Bid
      %th Property

    - for resource in collection
      %tr
        %td.auction_ends
          - if resource.active?
            = distance_of_time_in_words_to_now resource.end_at, true
          - elsif resource.finished?
            Expired
          - else
            Not active yet
        %td
          - if resource.arrive_on
            = resource.arrive_on.to_s(:us_date)
        %td.days
          - if resource.arrive_on && resource.depart_on
            = resource.depart_on - resource.arrive_on
        %td.reserve Y
        %td.highest_bid= resource.highest_bid_amount.format
        %td.left
          .left-column{:style => 'float: left'}
            - if resource.property.picture
              .picture{:style => 'padding:3px'}
                = link_to image_tag(resource.property.picture(:mini)), resource_path(resource)
          .right-column{:style => 'overflow: auto'}
            .title
              = link_to resource.property.name, resource_path(resource)
            .description
              = truncate resource.property.description, :length => 200
          .clearfix
    - if collection.blank?
      %tr
        %td{:colspan => '6'}
          There are no auctions.
  
  = will_paginate collection


