%h1 Auction
%h2 New Lot

= semantic_form_for resource, :url => collection_path do |f|
  = render 'fields', :f => f
  = f.buttons do
    = fb_button do
      = f.submit 'Add'
    = fb_button 'Cancel', collection_path

= javascript_include_tag 'jquery-ui-timepicker-addon'
:javascript
  $(function(){
   $('#lot_start_at').datetimepicker();
   $('#lot_end_at').datetimepicker();
  });