= render 'submenu'
.property
  .left-column
    - if resource.property.picture
      .picture
        = link_to image_tag(resource.property.picture(:thumb)), resource_path(resource)
    - else
      %a{:href => resource_path(resource)}
        .picture{:style => 'height: 100px; width: 100px; background: #bfbfbf;'}
  .right-column
    .title
      = resource.title
      - if current_user && resource.belongs_to?(current_user)
        %span= link_to 'edit', edit_resource_path(resource)
    .property_details{:style => 'padding: 5px 0px'}
      .title= resource.property.name
      %p= resource.property.description
      %p= link_to 'View property details', rental_unit_path(resource.property)

    - if resource.arrive_on || resource.depart_on
      .property_dates{:style => 'padding: 5px 0px'}
        - if resource.arrive_on
          %div
            %b Arrive date:
            = resource.arrive_on.to_s(:short_date_with_year)
        - if resource.depart_on
          %div
            %b Depart date:
            = resource.depart_on.to_s(:short_date_with_year)

    %p
      %b Min bid amount:
      #{resource.min_bid_amount.format}

    %p
      %b Bid history:
      = link_to pluralize(resource.bids.count, 'bid'), auction_lot_bids_path(resource)

    - if resource.active?
      - if resource.current_bid.present?
        %p
          %b Current bid:
          #{resource.current_bid.amount.format}
      %p
        %b Time left:
        = distance_of_time_in_words_to_now resource.end_at
      %div{:style => "margin: 5px 0px;"}
        = form_for @bid || resource.bids.build, :url => auction_lot_bids_path(resource) do |f|
          = f.error_messages
          .div{:style => 'float:left'}
            = f.label :amount, 'Your bid'
            = f.text_field :amount, :size => 5, :value => f.object.cents? ? Money.new(f.object.cents) : nil
          = fb_button do
            = f.submit 'Place bid'
          .clearfix
          - if resource.next_bid_amount > 0
            (Enter #{resource.next_bid_amount.format} or more)
        - if resource.belongs_to?(current_user)
          %p= fb_button 'Finish', finish_auction_lot_path(resource), :method => :put

    - elsif resource.finished?
      %p
        %b Auction is finished
      - if resource.winning_bid
        %p
          %b Winning bid is #{resource.winning_bid.amount.format}
      - elsif resource.belongs_to?(current_user) && resource.supposed_winning_bid
        %p
          %b Supposed winning bid is
          #{resource.supposed_winning_bid.amount.format}
          %br (The bid that is less than Min bid amount and can be winning)
    - else
      %p
        %b Auction is not active
    .auction_details{:style => "margin-top: 20px"}
      %p
        %b Terms and conditions
        %p= resource.terms
      %p
        %b Cancel bid policy
        %p= resource.cancel_bid_policy
  .clearfix