= fb_button "Availability Calendar", '#', :class_name => 'f_right'
= fb_button "Confirm Booking!", confirm_booking_path(@booking), :class_name => 'f_right'

%h2 Discussion on #{@booking.rental_unit.name}

#header
  =render(:partial=>"my_rental_units/unit_row",:object=>@booking.rental_unit,:locals=>{:admin=>false})

= form_for :booking_message,:url=> booking_messages_path(@booking) do |f|
  =f.hidden_field :rental_unit_id,:value=>@booking.rental_unit.id
  =f.text_area :message,{:rows=>6,:cols=>55}
  %br
  = fb_button do
    =f.submit "Send Message"

#booking_messages
  -@booking.booking_messages.by_date.each do |message|
    -color = (message.user_fb_id == @user.fb_user_id ? "#A3E03A" : "#E5D7C4")
    .message{:style=>"margin:7px;padding:7px;background-color:#{color};font-size:10pt;"}
      .message_body{:style=>"width:650px;float:right;"}
        %i= message.created_at.strftime("%m/%d/%Y")
        %br
        %strong=message.message
      
      %fb:profile-pic{:uid=>message.user_fb_id,:size=>"thumb"}
      %br
      %fb:name{:uid=>message.user_fb_id}