= fb_button 'Availability Calendar', [@booking.rental_unit, :reservations], :class_name => 'f_right'
-if @user.id == @booking.rental_unit.user_id
  = fb_button "Confirm Booking!", confirm_booking_path(@booking), :class_name => 'f_right'

%h2== Discussion on #{@booking.rental_unit.name}

#header
  =render(:partial=>"rental_units/unit_row",:object=>@booking.rental_unit,:locals=>{:admin=>false})

= form_for :booking_message,:url=> "#",:html=>{:id=>"chat_form",:onsubmit=>"onSubmit(); return false;"} do |f|
  =f.hidden_field :fb_user_id,:value=>@user.fb_user_id
  =f.hidden_field :booking_id,:value=>@booking.id
  =f.text_area :message,{:rows=>6,:cols=>55}
  %br
  = fb_button do
    =f.submit "Send Message"

#booking_messages
  -@booking.booking_messages.by_date.each do |message|
    .message{:class=>message.html_class}
      .message_body
        %i= message.created_at.strftime("%m/%d/%Y")
        %br
        %strong=message.message
      
      = fb_profile_pic(:uid => message.user_fb_id, :size => "thumb")
      %br
      = fb_name(:uid => message.user_fb_id)
      
:javascript
  var polling_data = {
      "user" : "#{@user.fb_user_id}",
      "booking" : "#{@booking.id}",
      "last_message" : "#{@booking.booking_messages.by_date.last.try(:id)}"};

  $(document).ready(function() {
    $("#booking_message_message").focus();        
    setInterval(function() {
      $.ajax({
        url: "#{chat_poll_url}",
        type: "GET",
              data: polling_data,
              dataType: "json",
              success: appendMessages,
            })
          }, 5000);
        });

        function onSubmit() {
          $.ajax({
            url: "#{chat_post_url}",
            type: "POST",
            dataType: "json",
            data: $("#chat_form").serialize(),
            success: appendMessages,
          });
          $("#booking_message_message").val("").focus();
        }
        
        function appendMessages(data){
          $.each(data, function(i, item) {
            appendMessage(item);
          });
          scrollDown();
        }
        
        function appendMessage(item){
          var html_message = "<div class=\"message " + item.message_class + "\"> " + "<div class=\"message_body\">" + "<i>" + item.sent_at + "</i>" + "<br/><strong>" + item.message + "</strong>" + "</div>" + "<a href='http://www.facebook.com/profile.php?id=" + item.user_fb_id + "' target='top' class='fb-profile-link'><fb:profile-pic uid='"+item.user_fb_id+"' size='thumb' linked='false'></fb:profile-pic>" + "<br/><fb:name uid='"+item.user_fb_id+"' linked='false'></fb:name></a>" + "</div>"
          $("#booking_messages").append(html_message);
          polling_data["last_message"] = item.id;
        }

        function scrollDown() {
          FB.XFBML.parse(document.getElementById('booking_messages'));
          var messages = document.getElementById("messages");
          messages.scrollTop = messages.scrollHeight;
        }
