:javascript
  function calculate_fee(){
    var val;
    val = parseFloat($("#booking_amount").val());
    if(isNaN(val)){
      $("#fee").html("$ 0.00");
    }else{
      val = (Math.round((val * 0.05) * 100) / 100);
      $("#fee").html("$" + val + "");
    }
  }
  
  $(document).ready(function(){
    $("#booking_amount").bind("blur",calculate_fee);
  });
=raw(enable_jqueryui_datepicker)
%h2== Edit Booking for #{@rental_unit.name}
.pal.grayArea.gray_box.noborder{:style=>"background-color:#FFC67D;"}
  #booking_form
    =form_for :booking, :url=> booking_path(@booking), :method=>"PUT" do |f|
      %table.dataTable
        %tbody
          %tr.dataRow
            %th.label Renter Name:
            %td.data  
              -if @booking.renter_fb_id
                %fb:name{:uid=>@booking.renter_fb_id}
              -else
                =@booking.renter_name
            %td.rightCol
          %tr.spacer
            %td{:colspan=>3}
              %hr
          %tr.dataRow
            %th.label Start Date:
            %td.data=date_picker_tag("booking[start_date]",@booking.start_date)
            %td.rightCol
          %tr.dataRow
            %th.label Stop Date:
            %td.data=date_picker_tag("booking[stop_date]",@booking.stop_date)
            %td.rightCol
          %tr.dataRow
            %th.label Amount:
            %td.data
              $
              = f.text_field :amount,:class=>"amount_field"
            %td.rightCol
              %b Fee:
              %span#fee
          %tr.spacer
            %td{:colspan=>3}
              %hr
          %tr.dataRow
            %th.label Description:
            %td.data= f.text_area :description,:rows=>5
            %td.rightCol
        %tfoot
          %tr.dataRow
            %th.label
            %td.data
              = fb_button do
                = f.submit "Save"
              = fb_button 'Cancel', my_rental_unit_bookings_path(@rental_unit)