%h2 New Booking for #{@rental_unit.name}
.pal.grayArea.gray_box.noborder{:style=>"background-color:#FFC67D;"}
  #booking_form
    =form_for :booking, :url=> my_rental_unit_bookings_path(@rental_unit) do |f|
      %table.dataTable
        %tbody
          %tr.dataRow
            %th.label Renter Name:
            %td.data  
              = f.select :renter_fb_id, @user.fb_friends.map{|friend| [friend['name'], friend['id']] }, :include_blank => true
            %td.rightCol
          %tr.spacer
            %td{:colspan=>3}
              %hr
          %tr.dataRow
            %th.label Start Date:
            %td.data= f.date_select :start_date
            %td.rightCol
          %tr.dataRow
            %th.label Stop Date:
            %td.data= f.date_select :stop_date
            %td.rightCol
          %tr.spacer
            %td{:colspan=>3}
              %hr
          %tr.dataRow
            %th.label Description:
            %td.data= f.text_area :description,:rows=>5
            %td.rightCol
        %tfoot
          %tr.dataRow
            %th.label
            %td.data
              = fb_button do
                = f.submit "Save"
              = fb_button 'Cancel', my_rental_unit_bookings_path(@rental_unit)