#video_form
  = form_tag @upload_info[:url], :multipart => true do
    = hidden_field_tag :token, @upload_info[:token]
    %p 
      The video you upload here will be hosted on our YouTube account, and will link back to your property.
      It will also be displayed on your property page anytime someone on facebook looks at this property.
    = label_tag :file
    = file_field_tag :file
    = submit_tag "Upload video"

- if !@rental_unit.has_video? && @rental_unit.photos.present?
  = link_to 'Generate video from images', generate_rental_unit_video_path(@rental_unit), :method => :post