%h2 Video for #{@rental_unit.name}
= fb_button 'Property details', rental_unit_path(@rental_unit)
= fb_button 'My Properties', manage_rental_units_path

%div.colored-bg.clearfix{:style => 'padding:10px'}
  - if @rental_unit.has_video?
    %div{:style => 'text-align: center'}
      = render 'shared/youtube_player', :video_id => @rental_unit.video_id
  - else
    = render 'new'
= fb_button 'Delete video', rental_unit_video_path(@rental_unit), :method => :delete if @rental_unit.has_video?