%h2 Video for #{@rental_unit.name}
= fb_button 'Property details', rental_unit_path(@rental_unit)
= fb_button 'My Properties', manage_rental_units_path

%div
  - if @rental_unit.has_video?
    %div{:style => 'text-align: center'}
      - if @rental_unit.video.status == 'completed'
        = render 'shared/youtube_player', :video_id => @rental_unit.video.youtube_id
      - elsif  @rental_unit.video.status == 'pending'
        %div Video is in processing
        :javascript
          timedRefresh(5000);
      - elsif  @rental_unit.video.status == 'error'
        %div Error occurred in video processing
    %div
      = fb_button 'Delete video', rental_unit_video_path(@rental_unit), :method => :delete
  - else
    = render 'new'
