%table.bookings
  %thead
    %tr
      %th Property
      %th Renter
      %th Arrive
      %th Depart
  %tbody
    - booking_collection.each.each do |booking|
      %tr
        %td.first
          - if booking.rental_unit.primary_photo && booking.rental_unit.primary_photo.picture.file?
            = image_tag(booking.rental_unit.primary_photo.picture.url(:thumb))
          - else
            = booking.rental_unit.name
          %div
            = simple_button 'Details', rental_unit_path(booking.rental_unit)
        %td.second
          .f_left= fb_profile_pic(:uid=>booking.renter_fb_id, :size=>"thumb")
          .f_left
            - if booking.renter_fb_id
              %div
                = fb_name(:uid=>booking.renter_fb_id)
                = user_online_status(booking.renter)
              %div= simple_button 'Contact Me', rental_unit_inquiries_url(booking.rental_unit)
            - else
              = booking.renter_name
            - if booking.can_be_canceled?
              %div= simple_button 'Cancel reservation', [:cancel, booking.rental_unit, booking], :confirm => 'Are you sure?', :method => :post
          .clearfix
        %td.arrive
          - if booking.start_date
            = booking.start_date.strftime("%m/%d/%Y")
          - else
            &nbsp;
        %td.depart
          - if booking.stop_date
            = booking.stop_date.strftime("%m/%d/%Y")
          - else
            &nbsp;