=raw(enable_jqueryui_datepicker)
.colored-bg{:style => "padding: 10px"}
  - unless resource.errors.blank?
    %h2 #{pluralize(resource.errors.size, 'error')} prohibited reservation from being saved
  = f.inputs do
    = f.input :start_at, :as => :datepicker, :label => 'Arrival Date & Time', :input_html => {:size => 12}
    = f.input :end_at,  :as => :datepicker, :label => 'Departure Date & Time', :input_html => {:size => '12'}
    = f.input :status, :label => 'Status', :collection => Reservation::STATUSES.map{|s| [t(s, :scope => "reservation.statuses"), s]}
    = f.input :notes, :label => 'Notes', :required => false, :input_html => {:rows => 3}
    = f.input :first_name, :label => 'First Name', :required => false
    = f.input :last_name, :label => 'Last Name', :required => false
    = f.input :email, :label => 'Email', :required => false
    = link_to_function 'More fields', "$('#additional_info').toggle()"
    = f.inputs(:id => 'additional_info', :class => 'hidden') do
      = f.input :phone, :label => 'Phone', :required => false
      = f.input :mobile, :label => 'Mobile', :required => false
      = f.input :fax, :label => 'Fax', :required => false
      = f.input :address1, :label => 'Address1', :required => false
      = f.input :address2, :label => 'Address2', :required => false
      = f.input :city, :label => 'City', :required => false
      = f.input :state, :label => 'State/Province', :required => false
      = f.input :zip, :label => 'Zip/Postal Code', :required => false
      = f.input :country, :label => 'Country', :as => :string, :required => false
      = f.input :inquiry_source, :label => 'Inquiry source', :required => false
      = f.input :number_of_adults, :label => 'Adults', :required => false, :input_html => {:class => 'short'}
      = f.input :number_of_children, :label => 'Children', :required => false, :input_html => {:class => 'short'}
    = f.input :save_on_remote_server, :label => 'Save on VRBO.com', :as => :boolean, :required => false
  
  = f.buttons do
    = fb_button do
      = submit_tag "Save"
    = fb_button 'Cancel', collection_path
