= render 'submenu'

= only_page(collection)
= will_paginate collection, :renderer => "FacebookLinkRenderer"
.properties= render :partial => 'deal', :collection => collection, :as => :resource
= will_paginate collection, :renderer => "FacebookLinkRenderer"
= only_page(collection)