- edit = false unless edit

#account-header
  = fb_profile_pic :size => 'small', :uid => current_user.fb_user_id
  = fb_name :uid => current_user.fb_user_id
  - if edit
    .f_right
      = simple_button 'Upgrade to More Features'
      = simple_button 'Back to My Account', account_url
  - else
    .f_right= simple_button 'Edit My Account', edit_account_path
    
    
  