%h2 Edit My Account 
%p
  For VRBO users, please enter your credentials to automate the connection between our services.
#user_form.colored-bg{:style => "padding: 10px"}
  = semantic_form_for @user, :url => account_path  do |f|
    = f.inputs do
      = f.input :vrbo_login
      = f.input :vrbo_password
      - if @user.twitter_name.blank?
        = link_to 'Add twitter', new_connectors_twitter_path
      - else
        %li
          %label My twitter
          %strong=  f.object.twitter_name
          %span
            = link_to('change', new_connectors_twitter_path)
            = link_to('remove', account_path(:user => {:remove_twitter => true}), :method => :put)
    = f.buttons do
      = fb_button do
        = submit_tag "Save"
      = fb_button 'Cancel', account_path