%h2 Edit My Account 
%p
  For VRBO users, please enter your credentials to automate the connection between our services.
=form_for @user, :url => account_path, :html => {:method => :put} do |f|
  #user_form{:style=>"width:400px;min-height:200px;background-color:#FFC67D;font-size:12pt;"}
    %table.dataTable
      %tbody
        %tr.dataRow
          %th.label VRBO Login:
          %td.data= f.text_field :vrbo_login
          %td.rightCol
        %tr.dataRow
          %th.label VRBO Password:
          %td.data= f.text_field :vrbo_password
          %td.rightCol
  = fb_button do
    = f.submit "Save Changes"
  = fb_button 'Cancel', manage_my_rental_units_path