= render :partial => 'header', :locals => {:edit => true}

#user-form.border
  = semantic_form_for current_user, :url => account_path  do |f|
    = f.semantic_errors
    .f_left
      = f.inputs do
        = f.input :use_fb_profile, :label => "Use Facebook profile"
    
      #profile{:class => current_user.use_fb_profile? && 'hidden'}
        = f.inputs do
          = f.input :first_name, :label => 'Name:'
          = f.input :last_name, :label => 'Last:'
          = f.input :company, :label => 'Company:'
          = f.input :phone, :label => 'Phone:'
          = f.input :sms_starting_at, :label => 'SMSFrom:'
          = f.input :sms_ending_at, :label => 'To:'
    .f_left    
      %p VRBO access          
      = f.inputs do
        = f.input :vrbo_login, :label => 'Login:'
        = f.input :vrbo_password, :label => 'Password:'
      %p
        - if current_user.twitter_name.blank?
          %label &nbsp;
          = link_to 'Add twitter', new_connectors_twitter_path
        - else
          %label My twitter
          %strong=  f.object.twitter_name
          %span
            = link_to('change', new_connectors_twitter_path)
            = link_to('remove', account_path(:user => {:remove_twitter => true}), :method => :put)

      = f.buttons do
        = simple_button do
          = submit_tag "Save"
        or
        = simple_button 'Cancel', account_path

:javascript
  $(function(){
    var checkUsingFbProfile = function(){
      var target = $('#profile');
      if($('#user_use_fb_profile').is(':checked'))
        target.slideUp('slow');
      else
        target.slideDown('slow');
    };
    
    $('#user_use_fb_profile').click(function(){
      checkUsingFbProfile();
    });
    
    checkUsingFbProfile();
  });