= render :partial => 'header'

#account-content
  = render 'submenu'

  %table.bookings
    %thead
      %tr
        %th Owner
        %th Renter
        %th Unit
        %th Reward
    %tbody
      -@rewards.each do |reward|
        %tr
          %td
            = fb_profile_pic(:uid=>reward.booking.owner_fb_id,:size=>"thumb")
            = fb_name(:uid=>reward.booking.owner_fb_id)
          %td
            - if reward.booking.renter_fb_id
              = fb_profile_pic(:uid=>reward.booking.renter_fb_id,:size=>"thumb")
              = fb_name(:uid=>reward.booking.renter_fb_id)
            - else
              = reward.booking.renter_name
          %td
            = link_to reward.booking.rental_unit.name,rental_unit_path(reward.booking.rental_unit.id)
          %td
            ==$#{reward.amount || 0.0}
  %span
    %b Total Rewards:
    -rewards_total = @rewards.map{|r| r.amount}.inject(0.0){|amt,r| amt = amt + r}
    == $#{rewards_total}
    %b Total Redeemed:
    == $#{current_user.redeemed_rewards || 0.0}
    %b Rewards Balance:
    == $#{rewards_total - (current_user.redeemed_rewards || 0.0)}