= fb_button 'Edit Account', edit_account_path, :class_name => 'f_left'
= fb_button 'My Listings', manage_rental_units_path, :class_name => 'f_left'
= fb_button "Subscribe for Full Features","https://herestay-test.recurly.com/subscribe/basic",:class_name=>"f_left"
%br
%br
#user_info
  %p
    %strong Name:
    %fb:name{:uid=>@user.fb_user_id}
  %p
    %strong Pic:
    %fb:profile-pic{:size=>"small",:uid=>@user.fb_user_id}    
  -if @user.email
    %p
      %strong Email:
      =@user.email
  -if @user.vrbo_login
    %p
      %strong VRBO Username:
      =@user.vrbo_login
    
#my_bookings
  %h3 Where I am staying
  %table{:style=>"background-color:#FFC67D;font-size:12pt;", :width => "100%"}
    %thead
      %tr
        %th{:style=>"padding:3px;"} ID
        %th{:style=>"padding:3px;"} Discussion
        %th{:style=>"padding:3px;"} Arrive
        %th{:style=>"padding:3px;"} Depart
        %th{:style=>"padding:3px;"} Owner
        %th{:style=>"padding:3px;"} Description
    %tbody
      -@my_bookings.each do |booking|
        %tr
          %td{:style=>"padding:3px;font-size:10pt;"}
            = link_to booking.id, booking
          %td{:style=>"padding:3px;font-size:10pt;"}
            -if booking.status != "COMPLETE"
              = link_to "Discussion", discuss_booking_path(booking)
            -else
              \--Closed--
          %td{:style=>"padding:3px;font-size:10pt;"}
            -if booking.start_date
              = booking.start_date.strftime("%m/%d/%Y")
          %td{:style=>"padding:3px;font-size:10pt;"}
            -if booking.stop_date
              = booking.stop_date.strftime("%m/%d/%Y")
          %td{:style=>"padding:3px;font-size:10pt;"}
            $
            -if booking.amount
              =booking.amount
            -else
              \----
          %td{:style=>"padding:3px;font-size:10pt;"}
            %fb:profile-pic{:uid=>booking.owner_fb_id,:size=>"thumb"}
            %fb:name{:uid=>booking.owner_fb_id}
          %td{:style=>"padding:3px;font-size:10pt;"}= booking.description
#others_booking_me
  %h3 Who's staying at my place
  =render(:partial=>"shared/bookings",:locals=>{:booking_collection=>@bookings})
#my_rewards
  %h3 My rewards
  %table{:style=>"background-color:#FFC67D;font-size:12pt;", :width => "100%"}
    %thead
      %tr
        %th{:style=>"padding:3px;"} Owner
        %th{:style=>"padding:3px;"} Renter
        %th{:style=>"padding:3px;"} Unit
        %th{:style=>"padding:3px;"} Reward
    %tbody
      -@rewards.each do |reward|
        %tr
          %td{:style=>"padding:3px;font-size:10pt;"}
            %fb:profile-pic{:uid=>reward.booking.owner_fb_id,:size=>"thumb"}
            %fb:name{:uid=>reward.booking.owner_fb_id}
          %td{:style=>"padding:3px;font-size:10pt;"}
            -if reward.booking.renter_fb_id
              %fb:profile-pic{:uid=>reward.booking.renter_fb_id,:size=>"thumb"}
              %fb:name{:uid=>reward.booking.renter_fb_id}
            -else
              =reward.booking.renter_name
          %td{:style=>"padding:3px;font-size:10pt;"}
            =link_to reward.booking.rental_unit.name,rental_unit_path(reward.booking.rental_unit.id)
          %td{:style=>"padding:3px;font-size:10pt;"}
            ==$#{reward.amount || 0.0}
  %span
    %b Total Rewards:
    -rewards_total = @rewards.map{|r| r.amount}.inject(0.0){|amt,r| amt = amt + r}
    == $#{rewards_total}
    %b Total Redeemed:
    == $#{@user.redeemed_rewards || 0.0}
    %b Rewards Balance:
    == $#{rewards_total - (@user.redeemed_rewards || 0.0)}