= render 'header'
= render 'links'

#my-info-page
  %dl
    %dt Name:
    %dd= current_user.first_name
    %br
    %dt Last:
    %dd= current_user.last_name
    %br
    %dt Company:
    %dd= current_user.company
    %br
    %dt Phone:
    %dd= current_user.phone
    %br
    %dt SMS From:
    %dd= current_user.sms_starting_at.strftime('%I:%M %p')
    %br
    %dt To:
    %dd= current_user.sms_ending_at.strftime('%I:%M %p')
    %br
    
    
      
