=stylesheet_link_tag "spacegallery","custom"
%script{:type=>"text/javascript",:src=>"http://maps.google.com/maps/api/js?sensor=false"}
=javascript_include_tag "old_jquery","eye","utils","spacegallery","layout"
%label.fbButton.f_right
  =link_to content_tag(:input,nil,{:type=>"button",:value=>"Book"}),discuss_my_rental_unit_bookings(:id=>unit_row.id)
%h2= @rental_unit.name
%br
%br
=render(:partial=>"share_unit",:object=>@rental_unit)
#tab_content.pal.grayArea.gray_box.noborder{:style=>"background-color:#FFC67D;"}
  %table.dataTable
    %tbody
      %tr.dataRow
        %td{:colspan=>3}=render(:partial=>"info",:object=>@rental_unit)
      %tr.spacer
        %td{:colspan=>3}
          %hr
      %tr.dataRow
        %td{:colspan=>3}
          %h3 Gallery
          #myGallery.spacegallery
            -@rental_unit.photos.each do |photo|
              %img{:src=>photo.picture.url(:medium)} 
      %tr.spacer
        %td{:colspan=>3}
          %hr
      %tr.dataRow
        %td{:colspan=>3}
          #map_wrapper{:style=>"width:600px;height:400px;"}
            %h3 Map
            #map_canvas{:style=>"width:100%; height:90%",:data=>{:canmap=>(@rental_unit.geocoding_success ? "true" : "false"),:lat=>@rental_unit.lat,:long=>@rental_unit.long,:fulladdress=>@rental_unit.geocoded_address}} 
      %tr.spacer
        %td{:colspan=>3}
          %hr
      -if @rental_unit.has_video?
        %tr.dataRow
          %td{:colspan=>3}
          %h3 Video
          %object{:style=>"height: 344px; width: 425px"}
            %param{:name=>"movie",:value=>"http://www.youtube.com/v/#{@rental_unit.video_id}"}
            %param{:name=>"allowFullScreen",:value=>"true"}
            %param{:name=>"allowScriptAccess",:value=>"always"}
            %embed{:src=>"http://www.youtube.com/v/#{@rental_unit.video_id}",:type=>"application/x-shockwave-flash",:allowfullscreen=>"true",:allowScriptAccess=>"always",:width=>"425",:height=>"344"}
        %tr.spacer
          %td{:colspan=>3}
            %hr
  %fb:comments{:xid=>"here_stay_unit_#{@rental_unit.id}",:canpost=>"true",:candelete=>"false",:showform=>"true",:send_notification_uid=>@rental_unit.fb_user_id,:publish_feed=>"true"}
:javascript
  window.fbAsyncInit = function() {
    FB.init({appId: '#{FB_ID}', status: true, cookie: true,xfbml: true});
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());
  
  $(document).ready(function(){
    var element = $("#map_canvas");
    if(element.attr("data-lat").length > 0){
      var latlng = new google.maps.LatLng(parseFloat(element.attr("data-lat")),parseFloat(element.attr("data-long")));
      var myOptions = {zoom: 8, center: latlng, mapTypeId: google.maps.MapTypeId.ROADMAP };
      var map = new google.maps.Map(document.getElementById("map_canvas"),myOptions);
      var marker = new google.maps.Marker({position: latlng,map: map,title: element.attr("data-fulladdress")});
    }else{
      $("#map_canvas").html("<h1>Sorry, cannot map this address</h1>");
    }
  });