-# content_for :head do
:javascript
  $(function() {
    $('.all-wrap input').click(function(){
      var th = $(this);
      var pr = th.closest('.data-box');
      var ch = pr.find('input:checkbox');
      ch.attr('checked', th.is(':checked'));
    });
  });

.clearfix
.dataRow
  .image{:style => 'float: left; width: 140px;'}
    .btn= link_to image_tag('save_img_button.png'), '#', :class => 'change-photo-logic', :rel => 'div.multi-upload-form'
    = primary_picture(@rental_unit)
  .address{:style => 'float: right;text-align: right; width: 340px;'}
    .row
      = f.label :name, 'Property Name:'
      = f.text_field :name
    .row
      = f.label :address, 'Address:'
      = f.text_field :address
    .row
      = f.label :city, 'City:'
      = f.text_field :city
    .row
      = f.label :zip, 'Zip:'
      = f.text_field :zip
  .clearfix
.dataRow.hidden= picture_fields(@rental_unit)
.dataRow
  .f_left= f.label :name, 'Description:'
  .f_right= f.text_area :description,:rows=>5, :class=>'big-text'
  .clearfix
.dataRow.price
  %h3 Price
  .row
    %h4 Nightly
    .col
      = f.label :nightly_high_price, 'High Season:'
      = f.text_field :nightly_high_price, :class => 'small'
    .col
      = f.label :nightly_mid_price, 'Med Season:'
      = f.text_field :nightly_mid_price, :class => 'small'
    .col
      = f.label :nightly_low_price, 'Low Season:'
      = f.text_field :nightly_low_price, :class => 'small'
    .clearfix  
  .row
    %h4 Weekly
    .col
      = f.label :weekly_high_price, 'High Season:'
      = f.text_field :weekly_high_price, :class => 'small'
    .col
      = f.label :weekly_mid_price, 'Med Season:'
      = f.text_field :weekly_mid_price, :class => 'small'
    .col
      = f.label :weekly_low_price, 'Low Season:'
      = f.text_field :weekly_low_price, :class => 'small'
    .clearfix
.dataRow
  %h3 Features
  .right-col
    .row
      = f.label :floors, 'Floors on Building:'
      = f.text_field :floors, :class => 'med'
    .row
      = f.label :located_on_floor, 'Located on Floor #:'
      = f.text_field :located_on_floor, :class => 'med'
    .row
      = f.label :name, 'Year Built:'
      = f.text_field :year_built, :class => 'med'
  .right-col
    .row
      = f.label :bathrooms, 'Bathrooms:'
      = f.text_field :bathrooms, :class => 'med'
    .row
      = f.label :bedrooms, 'Bedrooms:'
      = f.text_field :bedrooms, :class => 'med'
    .row
      = f.label :sq_footage, 'Sq Footage:'
      = f.text_field :sq_footage, :class => 'med'

  .clearfix
.dataRow
  .data-box.data-box-right
    .all-wrap
      = check_box_tag nil
      Check All
    %h3 Building Amenities
    .left-col
      .row
        = f.check_box :clubhouse
        = f.label :clubhouse, 'Clubhouse'
      .row
        = f.check_box :exercise_room
        = f.label :exercise_room, 'Exercise Room'
      .row
        = f.check_box :on_site_laundry
        = f.label :on_site_laundry, 'On Site Laundry'
      .row
        = f.check_box :on_site_manager
        = f.label :on_site_manager, 'On Site Manager'
    .left-col
      .row
        = f.check_box :security_gate
        = f.label :security_gate, 'Security Gate'
      .row
        = f.check_box :swimming_pool
        = f.label :swimming_pool, 'Swimming Pool'
      .row
        = f.check_box :tennis_courts
        = f.label :tennis_courts, 'Tennis Courts'
      .row
        = f.check_box :parking
        = f.label :parking, 'Parking'
      .row
        = f.check_box :wifi
        = f.label :wifi, 'WiFi'
    .clearfix

  .data-box.data-box-left
    .all-wrap
      = check_box_tag nil
      Check All
    %h3 Unit amenities
    .left-col
      .row
        = f.check_box :balcony
        = f.label :balcony, 'Balcony'
      .row
        = f.check_box :dishwasher
        = f.label :dishwasher, 'Dishwasher'
      .row
        = f.check_box :fireplace
        = f.label :fireplace, 'Fireplace'
      .row
        = f.check_box :hardwood_floors
        = f.label :hardwood_floors, 'Hardwood Floors'
      .row-empty
    .left-col
      .row
        = f.check_box :patio
        = f.label :patio, 'Patio'
      .row
        = f.check_box :refrigerator
        = f.label :refrigerator, 'Refrigerator'
      .row
        = f.check_box :microwave
        = f.label :microwave, 'Microwave'
      .row
        = f.check_box :washer_dryer
        = f.label :washer_dryer, 'Washer/Dryer'
    .clearfix

  .clearfix
.dataRow
  .left-col
  .right-col
    %div{:style => 'border: solid 1px #000;width: 100px; height:50px; text-align: center; vertical-align: middlle;'}
      Upload Video
  .clearfix
.dataRow
  .left-col
  .right-col
    = f.submit "Post It"
  .clearfix
= f.text_field :vrbo_id