%tr.data_row
  %th= "About:"
  %td.data= info.name
  %td.rightCol
    %div{:style => 'float:right'}= belongs_to_friend_icon current_user, info
%tr.data_row
  %th Owner:
  %td.data
    %a{:href => "http://www.facebook.com/profile.php?id=#{info.user.fb_user_id}", :target => 'top', :class => 'fb-profile-link'}
      =fb_profile_pic(:uid=>info.user.fb_user_id,:size=>"thumb")
      =fb_name(:uid=>info.user.fb_user_id)
    = fb_button 'All Properties', owned_by_rental_units_path(:user_id=>info.user_id), :class_name => 'f_right'
  %td.rightCol
    ==The owner is #{info.user.availability_message}
%tr.spacer
  %td{:colspan=>3}
    %hr
%tr.data_row
  %th Address:
  %td.data
    = info.address
    -if !info.address_2.blank?
      %br
      = info.address_2
    %br
    = "#{info.city}, #{info.state}, #{info.zip}, #{info.country}"
  %td.rightCol 
%tr.spacer
  %td{:colspan=>3}
    %hr
%tr.data_row
  %th Photo
  %td.data
    - if info.primary_photo
      = image_tag info.primary_photo.picture.url(:medium)
  %td.rightCol
%tr.spacer
  %td{:colspan=>3}
    %hr
%tr.data_row
  %th.label Description
  %td.data= info.description
  %td.rightCol
%tr.data_row
  %th.label Pricing
  %td.data= info.pricing
  %td.rightCol
%tr.data_row
  %th.label Pricing
  %td.data
    %table
      %tbody
        %tr
          %th
          %th High
          %th Mid
          %th Low
        %tr
          %td Nightly
          %td== $#{info.nightly_high_price}
          %td== $#{info.nightly_mid_price}
          %td== $#{info.nightly_low_price}
        %tr
          %td Weekly
          %td== $#{info.weekly_high_price}
          %td== $#{info.weekly_mid_price}
          %td== $#{info.weekly_low_price}
  %td.rightCol
- if info.bedrooms?
  %tr.data_row
    %th.label Bedrooms
    %td.data= info.bedrooms
    %td.rightCol
- if info.bathrooms?
  %tr.data_row
    %th.label Bathrooms
    %td.data= info.bathrooms
    %td.rightCol
- if info.adults?
  %tr.data_row
    %th.label Adults
    %td.data= info.adults
    %td.rightCol
- if info.kids?
  %tr.data_row
    %th.label Kids
    %td.data= info.kids
    %td.rightCol

%style
  :sass
    td, th
      :font-size 10pt