.property
  .left-column
    -if @rental_unit.primary_photo && @rental_unit.primary_photo.picture.file?
      .picture=image_tag(@rental_unit.primary_photo.picture.url(:thumb))
    -else
      .picture{:style => 'height: 100px; width: 100px; background: #bfbfbf;'}
    = hidden_field_tag 'preview_image_id', (@rental_unit.primary_photo ? @rental_unit.primary_photo.id : nil)
  .right-column
    .f_right= belongs_to_friend_icon current_user, @rental_unit
    .title
      == #{@rental_unit.name} 
      %span{:style => 'font-weight: normal;'}== By #{ fb_name(:uid=>current_user.fb_user_id)}
      .clearfix
    .description{:style => 'margin: 10px 0;'}
      = @rental_unit.description
  .clearfix
  .amenities     
    .left-col
      .left-col
        .row
          = f.check_box :balcony, :disabled => true
          = f.label :balcony, 'Balcony:'
        .row
          = f.check_box :dishwasher, :disabled => true
          = f.label :dishwasher, 'Dishwasher:'
        .row
          = f.check_box :fireplace, :disabled => true
          = f.label :fireplace, 'Fireplace:'
        .row
          = f.check_box :hardwood_floors, :disabled => true
          = f.label :hardwood_floors, 'Hardwood Floors:'
      .left-col
        .row
          = f.check_box :patio, :disabled => true
          = f.label :patio, 'Patio:'
        .row
          = f.check_box :refrigerator, :disabled => true
          = f.label :refrigerator, 'Refrigerator:'
        .row
          = f.check_box :microwave, :disabled => true
          = f.label :microwave, 'Microwave:'
        .row
          = f.check_box :washer_dryer, :disabled => true
          = f.label :washer_dryer, 'Washer/Dryer:'
      .clearfix
    .left-col
      .left-col
        .row
          = f.check_box :clubhouse, :disabled => true
          = f.label :clubhouse, 'Clubhouse:'
        .row
          = f.check_box :exercise_room, :disabled => true
          = f.label :exercise_room, 'Exercise Room:'
        .row
          = f.check_box :on_site_laundry, :disabled => true
          = f.label :on_site_laundry, 'On Site Laundry:'
        .row
          = f.check_box :on_site_manager, :disabled => true
          = f.label :on_site_manager, 'On Site Manager:'
      .left-col
        .row
          = f.check_box :security_gate, :disabled => true
          = f.label :security_gate, 'Security Gate:'
        .row
          = f.check_box :swimming_pool, :disabled => true
          = f.label :swimming_pool, 'Swimming Pool:'
        .row
          = f.check_box :tennis_courts, :disabled => true
          = f.label :tennis_courts, 'Tennis Courts:'
        .row
          = f.check_box :parking, :disabled => true
          = f.label :parking, 'Parking:'
        .row
          = f.check_box :wifi, :disabled => true
          = f.label :wifi, 'WiFi:'
      .clearfix
    .clearfix
        
= f.hidden_field :name
= f.hidden_field :address
= f.hidden_field :city
= f.hidden_field :zip
= f.hidden_field :description
  
= f.hidden_field :nightly_high_price
= f.hidden_field :nightly_mid_price
= f.hidden_field :nightly_low_price
= f.hidden_field :weekly_high_price
= f.hidden_field :weekly_mid_price
= f.hidden_field :weekly_low_price
= f.hidden_field :floors
= f.hidden_field :located_on_floor
= f.hidden_field :year_built
= f.hidden_field :bathrooms
= f.hidden_field :bedrooms
= f.hidden_field :sq_footage
= f.hidden_field :unit_other
= f.hidden_field :building_other