.property{:data_lat => unit_row.lat, :data_lng => unit_row.lng}
  .left-column
    - if unit_row.has_video? && unit_row.video.completed?
      .picture{:style => "background: url(http://i.ytimg.com/vi/#{unit_row.video.youtube_id}/default.jpg)"}
        = link_to image_tag('video.png'), rental_unit_video_path(unit_row)
    - elsif unit_row.primary_photo && unit_row.primary_photo.picture.file?
      .picture
        =link_to image_tag(unit_row.primary_photo.picture.url(:vthumb)), rental_unit_path(unit_row)
    -else
      %a{:href => rental_unit_path(unit_row)}
        .picture{:style => 'height: 90px; width: 120px; background: #bfbfbf;'}
      
    %div= simple_button 'Availability', [:availabilities, unit_row], :link_class => 'availabilities_button', :rel => availabilities_rental_unit_path(unit_row)
    %div= simple_button 'Contact', new_rental_unit_inquiry_path(unit_row)
  .right-column
    %div{:style => 'float:right'}= belongs_to_friend_icon current_user, unit_row
    .title
      = link_to truncate(unit_row.name, :length => 50), rental_unit_path(unit_row)
      %br
      %span.by== By #{ fb_name(:uid=>unit_row.user.fb_user_id)}
      .clearfix
    .description
      = truncate(unit_row.description, :length => 150, :separator => ' ')
    .f_right=render(:partial=>"rental_units/share_unit",:object=>unit_row)
    .clearfix
    - if action_name == 'manage' && unit_row.is_owner?(current_user)
      .admin_buttons
        = simple_button 'Edit', edit_rental_unit_path(unit_row), :class_name => 'admin_but'
        = simple_button 'Photos', rental_unit_photos_path(unit_row), :class_name => 'admin_but'
        = simple_button 'Video', rental_unit_video_path(unit_row), :class_name => 'admin_but'
        = simple_button 'Inquiries', rental_unit_inquiries_path(unit_row), :class_name => 'admin_but'
        = simple_button 'Promote', promote_rental_unit_path(unit_row), :class_name => 'admin_but'
        = simple_button 'Reservations', rental_unit_bookings_path(unit_row), :class_name => 'admin_but'
        = simple_button 'Delete', rental_unit_path(unit_row), :class_name => 'admin_but', :method=>:delete
      .clearfix
    .comments
      .comment= fb_like_button(:href => unit_row.fb_url, :width => "320", :height => "20", :show_faces => "false")
      - unit_row.last_comments.each do |comment| 
        .comment
          .image= fb_profile_pic(:uid => comment.fb_user_id)
          .text
            =fb_name(:uid => comment.fb_user_id )
            =comment.text
            .date== #{time_ago_in_words comment.time} ago
          .clearfix
      - if unit_row.comments.count > 3
        = link_to "More comments(#{unit_row.comments.count})", unit_row
  .clearfix