.unit.UIObjectListing.clearfix.UIObjectListing_PicPadding.unit_row{:class=>cycle("odd","even")}
  .unit_box
    .unit_picture
      -if unit_row.primary_photo && unit_row.primary_photo.picture.file?
        =image_tag(unit_row.primary_photo.picture.url(:thumb))
    .unit_description
      %div{:style => 'float:right'}= belongs_to_friend_icon current_user, unit_row
      .title{:style => 'overflow: hidden'}=link_to unit_row.name,rental_unit_path(unit_row.id)
      .clearfix
      .description
        = unit_row.description
        %br
        == Owner is #{unit_row.user.availability_message}
  - if unit_row.is_owner?(current_user)
    %br
    .admin_buttons.clearfix
      = fb_button 'Edit', edit_rental_unit_path(unit_row), :class_name => 'f_left'
      = fb_button 'Photos', rental_unit_photos_path(unit_row), :class_name => 'f_left'
      = fb_button 'Video', rental_unit_video_path(unit_row), :class_name => 'f_left'
      = fb_button 'Bookings', rental_unit_bookings_path(unit_row), :class_name => 'f_left'
      = fb_button 'Delete', rental_unit_path(unit_row), :class_name => 'f_left', :method=>:delete

  =render(:partial=>"rental_units/share_unit",:object=>unit_row)
  .clearfix