.property
  .left-column
    -if unit_row.primary_photo && unit_row.primary_photo.picture.file?
      .picture
        =link_to image_tag(unit_row.primary_photo.picture.url(:thumb)), rental_unit_path(unit_row)
    -else
      %a{:href => rental_unit_path(unit_row)}
        .picture{:style => 'height: 100px; width: 100px; background: #bfbfbf;'}
    %div= simple_button 'Availabilities', [:availabilities, unit_row], :link_class => 'availabilities_button', :rel => availabilities_rental_unit_path(unit_row)
    %div= simple_button 'Contact', discuss_rental_unit_bookings_path(unit_row)
  .right-column
    %div{:style => 'float:right'}= belongs_to_friend_icon current_user, unit_row
    .title
      == #{unit_row.name} 
      %span{:style => 'font-weight: normal;'}== By #{ fb_name(:uid=>unit_row.user.fb_user_id)}
      .clearfix
    .description
      = truncate(unit_row.description, :length => 150, :separator => ' ')
    .f_right{:style => 'margin-bottom: -15px;'}=render(:partial=>"rental_units/share_unit",:object=>unit_row)
    
    .comments
      %fb:comments{:xid => "here_stay_unit_#{unit_row.id}", :canpost => "true", :candelete => "false", :showform=> "true", :send_notification_uid => unit_row.fb_user_id, :publish_feed => "true", :width => 380, :numposts => 4}
  .clearfix