=content_for :submenu do
  %ul
    %li.current= link_to 'Edit Property'
    .clearfix
=property_bread_crumbs(['Edit Your Property', 'Save changes'], 1)
.f_right
  = form_tag load_data_from_vrbo_rental_unit_url(@rental_unit), :method => :put do
    Import From:
    = select_tag 'vrbo_id', options_for_select(current_user.vrbo_listings.map{|vl| [vl[:name], vl[:vrbo_id]]}), :include_blank => 'VRBO', :style => 'width: 60px;'
    = submit_tag 'Go'
.clearfix
.property_form
  = error_messages_for @rental_unit
  = render :partial => 'upload_photo'
  = form_for @rental_unit, :rental_unit, :url => preview_update_rental_unit_path(@rental_unit), :html => { :multipart => true} do |f|
    = render 'form', {:f => f}