<h1>Listing rental_units</h1>

<table>
  <tr>
    <th>Fb user</th>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rental_units.each do |rental_unit| %>
  <tr>
    <td><%= rental_unit.fb_user_id %></td>
    <td><%= rental_unit.name %></td>
    <td><%= rental_unit.description %></td>
    <td><%= link_to 'Show', rental_unit %></td>
    <td><%= link_to 'Edit', edit_rental_unit_path(rental_unit) %></td>
    <td><%= link_to 'Destroy', rental_unit, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rental unit', new_rental_unit_path %>
