=content_for :submenu do
  %ul
    %li.current= link_to 'Add Property'
    .clearfix
=property_bread_crumbs(['Create Your Property', 'Publish Your Property', 'Promote Your Property'],1)
#property_form.property_form
  = error_messages_for @rental_unit
  = render :partial => 'upload_photo'
  = form_for @rental_unit, :rental_unit, :url => preview_rental_units_path, :html => { :multipart => true} do |f|
    = render 'form', {:f => f}
  