=content_for :submenu do
  %ul
    %li.current= link_to 'Add Property'
    .clearfix
%h2
  %b New Post
  %span > Preview / Save Changes 
#property_form.property_form
  = error_messages_for @rental_unit
  = render :partial => 'upload_photo'
  = form_for @rental_unit, :rental_unit, :url => preview_rental_units_path, :html => { :multipart => true} do |f|
    = render 'form', {:f => f}
  