=content_for :submenu do
  %ul
    %li.current= link_to 'Add Property'
=property_bread_crumbs(['Create Your Property', 'Publish Your Property', 'Promote Your Property'], 2)
= form_for @rental_unit, :rental_unit, :url => rental_units_path, :html => { :multipart => true } do |f|
  = render 'preview', {:f => f}
  .f_right= f.submit "Save It"
  .f_right= simple_button 'Edit', '', :link_class => 'to_back_logic'
  = hidden_field_tag :edit_rental_unit, nil
  .clearfix
