.clearfix
.property
  .left-column
    -if @rental_unit.primary_photo && @rental_unit.primary_photo.picture.file?
      .picture=image_tag(@rental_unit.primary_photo.picture.url(:thumb))
    -else
      .picture{:style => 'height: 100px; width: 100px; background: #bfbfbf;'} 
    %div=render(:partial=>"rental_units/share_unit",:object=>@rental_unit)
    %div=simple_button 'Contact', new_rental_unit_inquiry_path(@rental_unit)
  .right-column
    .f_right= belongs_to_friend_icon current_user, @rental_unit
    .title
      == #{@rental_unit.name} 
      %span{:style => 'font-weight: normal;'}== By #{ fb_name(:uid=>@rental_unit.user.fb_user_id)}
      .clearfix
    .description{:style => 'margin: 10px 0;'}
      = @rental_unit.description
  .clearfix
  .amenities 
    = form_for @rental_unit do |f|
      .left-col
        .left-col
          .row
            = f.check_box :balcony, :disabled => true
            = f.label :balcony, 'Balcony:'
          .row
            = f.check_box :dishwasher, :disabled => true
            = f.label :dishwasher, 'Dishwasher:'
          .row
            = f.check_box :fireplace, :disabled => true
            = f.label :fireplace, 'Fireplace:'
          .row
            = f.check_box :hardwood_floors, :disabled => true
            = f.label :hardwood_floors, 'Hardwood Floors:'
        .left-col
          .row
            = f.check_box :patio, :disabled => true
            = f.label :patio, 'Patio:'
          .row
            = f.check_box :refrigerator, :disabled => true
            = f.label :refrigerator, 'Refrigerator:'
          .row
            = f.check_box :microwave, :disabled => true
            = f.label :microwave, 'Microwave:'
          .row
            = f.check_box :washer_dryer, :disabled => true
            = f.label :washer_dryer, 'Washer/Dryer:'
        .clearfix
      .left-col
        .left-col
          .row
            = f.check_box :clubhouse, :disabled => true
            = f.label :clubhouse, 'Clubhouse:'
          .row
            = f.check_box :exercise_room, :disabled => true
            = f.label :exercise_room, 'Exercise Room:'
          .row
            = f.check_box :on_site_laundry, :disabled => true
            = f.label :on_site_laundry, 'On Site Laundry:'
          .row
            = f.check_box :on_site_manager, :disabled => true
            = f.label :on_site_manager, 'On Site Manager:'
        .left-col
          .row
            = f.check_box :security_gate, :disabled => true
            = f.label :security_gate, 'Security Gate:'
          .row
            = f.check_box :swimming_pool, :disabled => true
            = f.label :swimming_pool, 'Swimming Pool:'
          .row
            = f.check_box :tennis_courts, :disabled => true
            = f.label :tennis_courts, 'Tennis Courts:'
          .row
            = f.check_box :parking, :disabled => true
            = f.label :parking, 'Parking:'
          .row
            = f.check_box :wifi, :disabled => true
            = f.label :wifi, 'WiFi:'
        .clearfix
      .clearfix
  - if @rental_unit.has_video?
    .video
      %h3 Video
      = render 'shared/youtube_player', :video_id => @rental_unit.video_id
  
  .left-column 
    %br
  .right-column
    .comments
      %fb:comments{:xid => "here_stay_unit_#{@rental_unit.id}", :canpost => "true", :candelete => "false", :showform=> "true", :send_notification_uid => @rental_unit.fb_user_id, :width => 380, :numposts => 4, :notify => "true", :url => @rental_unit.fb_url}
  .clearfix
:javascript
  var comment_handler = true;
  function storeComment() {
    $.post('#{store_last_comment_rental_unit_url(@rental_unit)}');
  }