%html{"xmlns:fb"=>"http://www.facebook.com/2008/fbml"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    -if @og_meta
      %meta{:property=>"og:title",:content=>@og_meta[:title]}
      %meta{:property=>"og:type",:content=>@og_meta[:type]}
      %meta{:property=>"og:image",:content=>@og_meta[:image]}
      %meta{:property=>"og:url",:content=>@og_meta[:url]}
      %meta{:property=>"og:site_name",:content=>@og_meta[:site_name]}
      %meta{:property=>"og:app_id",:content=>@og_meta[:app_id]}

    = stylesheet_link_tag "formtastic.css", "formtastic_changes.css", "jacked_fb_styles", '/javascripts/cluetip/jquery.cluetip.css', '/jquery-ui/css/redmond/jquery-ui-1.8.2.custom.css', '/fancybox/jquery.fancybox-1.3.4.css', 'jquery.jgrowl', '/fullcalendar/fullcalendar.css', 'master', 'temparry'

    = javascript_include_tag "jquery", "rails", "/jquery-ui/js/jquery-ui-1.8.2.custom.min.js", "/fancybox/jquery.fancybox-1.3.4.pack.js", "cluetip/jquery.hoverIntent.js", 'cluetip/jquery.cluetip.js', "application", 'jquery.jgrowl', '/fullcalendar/fullcalendar.min.js'
    = csrf_meta_tag

    -if current_user && ENV['NO_CHAT'].blank?
      :javascript
        var user_data = {
          "user" : "#{current_user.fb_user_id}",
          "last_message" : "#{current_user.messages.by_date.last.try(:id)}",
          "chat_check_url": "#{chat_check_url}",
          "except_chat": "#{@booking.id if @booking}"
        };
  %body
    = javascript_tag "redirectToFbApp('#{Facebook::APP_NAME}', '#{request.fullpath}');" if Rails.env.production?
    %a{:name=>'top'}
    #sidebar
    #main
      #header
        #logo= link_to image_tag('herestay.png'), root_path
        #like-button
          = render 'shared/like_button_new'
      = display_flashes
      = render 'shared/search_new'
      #menu
        %ul
          %li= simple_button 'My Posts', manage_rental_units_url
          %li= simple_button 'My Account', account_url
          %li= simple_button 'New Post', new_rental_unit_url
          %li= simple_button 'Inquiries', inquiries_url
          %li= simple_button 'Reservations', bookings_url
      #content
        = yield
      #fb-root
      = fb_connect_async_js
