%html{"xmlns:fb"=>"http://www.facebook.com/2008/fbml"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    -if @og_meta
      %meta{:property=>"og:title",:content=>@og_meta[:title]}
      %meta{:property=>"og:type",:content=>@og_meta[:type]}
      %meta{:property=>"og:image",:content=>@og_meta[:image]}
      %meta{:property=>"og:url",:content=>@og_meta[:url]}
      %meta{:property=>"og:site_name",:content=>@og_meta[:site_name]}

    = stylesheet_link_tag "formtastic.css", "formtastic_changes.css", "jacked_fb_styles", '/javascripts/cluetip/jquery.cluetip.css', '/jquery-ui/css/redmond/jquery-ui-1.8.2.custom.css', '/fancybox/jquery.fancybox-1.3.4.css', 'jquery.jgrowl', '/fullcalendar/fullcalendar.css'

    = javascript_include_tag "jquery", "rails", "/jquery-ui/js/jquery-ui-1.8.2.custom.min.js", "/fancybox/jquery.fancybox-1.3.4.pack.js", "cluetip/jquery.hoverIntent.js", 'cluetip/jquery.cluetip.js', "application", 'jquery.jgrowl', '/fullcalendar/fullcalendar.min.js'
    = csrf_meta_tag
    
    -if current_user && ENV['NO_CHAT'].blank?
      :javascript
        var user_data = {
          "user" : "#{current_user.fb_user_id}",
          "last_message" : "#{current_user.messages.by_date.last.try(:id)}",
          "chat_check_url": "#{chat_check_url}",
          "except_chat": "#{@booking.id if @booking}"
        };
  %body
    = javascript_tag "redirectToFbApp('#{Facebook::APP_NAME}', '#{request.fullpath}');" if Rails.env.production?
    
    %a{:name=>'top'}
    #logo= link_to image_tag("herestay.png", :border => 0), root_path
    = display_flashes
    #search_box= render :partial=> "shared/advanced_search"
    = yield
    #fb-root
    = fb_connect_async_js
