%html{"xmlns:fb"=>"http://www.facebook.com/2008/fbml"}
  %head
    -if @og_meta
      %meta{:property=>"og:title",:content=>@og_meta[:title]}
      %meta{:property=>"og:type",:content=>@og_meta[:type]}
      %meta{:property=>"og:image",:content=>@og_meta[:image]}
      %meta{:property=>"og:url",:content=>@og_meta[:url]}
      %meta{:property=>"og:site_name",:content=>@og_meta[:site_name]}
    = stylesheet_link_tag "formtastic.css", "formtastic_changes.css", "jacked_fb_styles"
    %link{:type=>"text/css",:href=>"/jquery-ui/css/redmond/jquery-ui-1.8.2.custom.css",:rel=>"stylesheet"}
    = javascript_include_tag "jquery", "rails"
    %script{:type=>"text/javascript",:src=>"/jquery-ui/js/jquery-ui-1.8.2.custom.min.js"}
    = csrf_meta_tag
  %body
    :javascript
      if (window.top === window.self){
        document.write = "";
        window.top.location = http://apps.facebook.com/#{Facebook::APP_NAME}/?redirect_to=#{request.fullpath}';
        setTimeout(function(){document.body.innerHTML='';},1);
        window.self.onload=function(evt){document.body.innerHTML='';};
      }
    
    = link_to image_tag("herestay.png", :border => 0), root_path
    %br
    #fb-root
      = display_flashes
      = yield
    = fb_connect_async_js