%html{"xmlns:fb"=>"http://www.facebook.com/2008/fbml"}
  %head
    -if @og_meta
      %meta{:property=>"og:title",:content=>@og_meta[:title]}
      %meta{:property=>"og:type",:content=>@og_meta[:type]}
      %meta{:property=>"og:image",:content=>@og_meta[:image]}
      %meta{:property=>"og:url",:content=>@og_meta[:url]}
      %meta{:property=>"og:site_name",:content=>@og_meta[:site_name]}
    = stylesheet_link_tag "formtastic.css", "formtastic_changes.css", "jacked_fb_styles", '/javascripts/cluetip/jquery.cluetip.css'
    %link{:type=>"text/css",:href=>"/jquery-ui/css/redmond/jquery-ui-1.8.2.custom.css",:rel=>"stylesheet"}
    %link{:type=>"text/css",:href=>"/jquery-ui/css/redmond/jquery-ui-1.8.2.custom.css",:rel=>"stylesheet"}
    %link{:type=>"text/css",:href=>"/fancybox/jquery.fancybox-1.3.4.css",:rel=>"stylesheet" }
    = javascript_include_tag "jquery", "rails", "/jquery-ui/js/jquery-ui-1.8.2.custom.min.js", "/fancybox/jquery.fancybox-1.3.4.pack.js", "cluetip/jquery.hoverIntent.js", 'cluetip/jquery.cluetip.js', "application"
    = csrf_meta_tag
  %body
    -if Rails.env.production?
      :javascript
        if (window.top === window.self){
          document.write = "";
          window.top.location = 'http://apps.facebook.com/#{Facebook::APP_NAME}/?redirect_to=#{request.fullpath}';
          setTimeout(function(){document.body.innerHTML='';},1);
          window.self.onload=function(evt){document.body.innerHTML='';};
        }
    -if @user && ENV['NO_CHAT'].blank?
      :javascript
        var user_data = {
            "user" : "#{@user.fb_user_id}",
            "last_message" : "#{@user.messages.by_date.last.try(:id)}"};
            
        function newMessages(data){
          var messages = "";
          $.each(data, function(i, item) {
            messages = messages + "<p>" + item.message +"<a href='"+ item.url +"'>Go To Discussion</a></p>"
            user_data["last_message"] = item.id;
          });
          
          $.fancybox(('<h2>New Messages!</h2>' + messages),{
                'autoDimensions'	: true,
          			'width'         		: 'auto','height'        		: 'auto',
          			'transitionIn'		: 'swing','transitionOut'		: 'swing'
          });
        }
        
        $(document).ready(function() {        
          setInterval(function() {
            $.ajax({
              url: "#{chat_check_url}",
              type: "GET",
                    data: user_data,
                    dataType: "json",
                    success: newMessages,
            })
          }, 5000);
        });
    = link_to image_tag("herestay.png", :border => 0), root_path
    %br
    #fb-root
      = display_flashes
      = yield
    = fb_connect_async_js
