%html
  %head
    = stylesheet_link_tag "jacked_fb_styles"
    = javascript_include_tag "jquery", "rails"
    = csrf_meta_tag
  %body
    = link_to image_tag("herestay.png", :border => 0), root_path
    %br
    #fb-root
      = display_flashes
      = yield
    = fb_connect_async_js